{% extends "layout.html" %}

{% block title %}
Tasks
{% endblock title %}

{% block content %}
<h1>Tasks</h1>
<br>
<form  action="{% url 'tasks' %}" method="POST">
  {% csrf_token %}
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="Add Task" aria-label="Search" name="content">
    </div>
    <div class="col-auto">
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck" name="isImportent" value="True" autocomplete="off">Importent</label>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Add Task</button>
    </div>
  </div>
</form>
<br>
<table class="table table-bordered">
  <tbody>
    {% if tasks %}
    {% for task in tasks %}
      <tr>
        <td {% if task.isCompleted %}
          style="text-decoration: line-through;"
        {% endif %}>{{ task }}</td>
        <td><a href="{% url 'isImportent' task.id %}"  class="btn 
          {% if task.isImportent %}
          btn-warning
        {% else %}
          btn-secondary
        {% endif %}
          ">Importent</a></td>
        <td><a href="{% url 'isCompleted' task.id %}" class="btn 
          
          {% if task.isCompleted %}
            btn-success
          {% else %}
            btn-secondary
          {% endif %}
          ">Completed</a></td>
        <td><a href="{% url 'delete' task.id %}"  class="btn btn-danger">Delete Task</a></td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock content %}