{% extends "layout.html" %}
{% block title %}Tasks{% endblock title %}
{% block content %}
<h1>Tasks</h1>
<br />
<form action="{% url 'tasks' %}" method="POST">
    {% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col-6">
            <input class="form-control" type="text" placeholder="Add Task" aria-label="Search" name="content" />
        </div>
        <div class="col-auto">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-warning">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck" name="isImportent" value="True"
                        autocomplete="off" />
                    <p class="m-0"><i class="fas fa-star"></i></p>
                </label>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
    </div>
</form>
<br />
<br />
{% if tasks %}
<p class="btn btn-primary">
    Tasks
    <span class="badge badge-light">{{ tasks|length }}</span>
</p>
<br />

<div class="card card-body pb-0">
    <!-- Importent Tasks -->
    {% for task in tasks %} {% if task.isImportent %}
    <div class="alert alert-warning bg-warning text-dark row align-items-center mx-0" role="alert">
        <div class="col-auto mr-auto">
            <p class="mb-1">{{ task }}</p>
            <p class="m-0" style="font-size: 0.7rem;">
                Added at {{ task.created_at.time }}
            </p>
        </div>
        <div class="col-auto">
            <a href="{% url 'isImportent' task.id %}" style="margin-left: 10px;" class="btn btn-sm bg-light">
                <i class="fas fa-star"></i>
            </a>
            <a href="{% url 'isCompleted' task.id %}" class="btn btn-success btn-sm"><i class="fas fa-check"></i></a>
            <a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {% endif %} {% endfor %} {% for task in tasks %}
    <!-- Regular Tasks  -->
    {% if task.isImportent != True %}
    <div class="alert alert-primary bg-primary text-white row align-items-center mx-0" role="alert">
        <div class="col-auto mr-auto">
            <p class="mb-1">{{ task }}</p>
            <p class="m-0" style="font-size: 0.7rem;">
                Added at {{ task.created_at.time }}
            </p>
        </div>
        <div class="col-auto">
            <a href="{% url 'isImportent' task.id %}" style="margin-left: 10px;" class="btn btn-sm bg-light">
                <i class="fas fa-star"></i>
            </a>
            <a href="{% url 'isCompleted' task.id %}" class="btn btn-success btn-sm">
                <i class="fas fa-check"></i>
            </a>
            <a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    {% endif %} {% endfor %}
</div>
{% endif %}

<!-- Completed Tasks  -->
<br />
{% if completed_Tasks %}
<div class="row">
    <div class="col-auto pr-0">
        <p>
            <a class="btn btn-success" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Completed
                <span class="badge badge-light">{{ completed_Tasks|length }}</span>
            </a>
        </p>
    </div>
    <div class="col-auto">
        <a href="{% url 'tasks' %}dltCompletedTasks" class="btn btn-danger"><i class="fas fa-trash"></i></a>
    </div>
</div>
<div class="collapse" id="collapseExample">
    <div class="card card-body pb-0">
        {% for task in completed_Tasks %}
        <div class="alert alert-success bg-success text-white row align-items-center mx-0" role="alert">
            <div class="col-auto mr-auto" style="text-decoration: line-through;">
                {{ task }}
            </div>
            <div class="col-auto">
                <a href="{% url 'isCompleted' task.id %}" class="btn btn-light btn-sm"><i class="fas fa-times"></i></a>
                <a href="{% url 'delete' task.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br />
<br />

{% endif %} {% endblock content %}